@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&family=Kumbh+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.clearfix {
  clear: both; }

a {
  text-decoration: none;
  color: #fff; }

li {
  list-style-type: none;
  color: #fff;
  cursor: pointer;
  transition: border .2s ease; }
  li:hover {
    border-bottom: 5px solid #147b74; }

body {
  font-family: 'Commissioner', sans-serif; }

html {
  overflow-x: hidden; }

.header_hero--banner {
  background: url("../images/image-hero-desktop.jpg") no-repeat center/cover;
  height: 60vh; }

.navigation_top {
  padding: 3% 0;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.navigation_gradient {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent); }

.navigation_menu {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700; }

.main_card--container {
  width: 60%;
  margin: 0 auto;
  position: relative;
  margin-top: -100px;
  margin-bottom: 400px; }
  .main_card--container > img {
    position: absolute;
    left: 50%;
    top: -2%;
    transform: translateX(-50%); }

.card_first {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #7a7a7a;
  background-color: #fff;
  border-radius: 15px; }

.card_first--head {
  text-align: center; }
  .card_first--head h3 {
    padding-top: 3em;
    padding-bottom: 1.5em;
    font-size: 24px;
    font-weight: 700; }
  .card_first--head p {
    color: #7a7a7a;
    font-size: 18px;
    padding-bottom: 2em; }

.card_first--bottom {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 2rem; }

button.btn_utility {
  border: none;
  background-color: #3cb4ac;
  color: #fff;
  font-size: 16px;
  border-radius: 30px;
  width: 170px;
  padding: 1em;
  cursor: pointer;
  font-weight: 500;
  transition: all .2s ease; }
  button.btn_utility:hover {
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.5); }

.bookmark {
  display: flex;
  align-items: center; }
  .bookmark span {
    display: inline-block;
    width: 160px;
    background-color: #7a7a7a;
    padding: 1.1em;
    border-radius: 30px;
    text-align: right;
    position: relative;
    cursor: pointer;
    transition: color .3s ease; }
    .bookmark span:hover {
      color: #fff; }
  .bookmark img {
    position: absolute;
    left: 0;
    top: 0; }

.card_second {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  border: 1.5px solid #7a7a7a;
  border-radius: 15px; }
  .card_second--boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto; }
    .card_second--boxes div {
      margin: 2rem 0;
      flex: 1; }
      .card_second--boxes div:nth-of-type(2) {
        border-right: 1px solid #7a7a7a;
        border-left: 1px solid #7a7a7a;
        text-align: center;
        flex: 1.2; }
      .card_second--boxes div:last-of-type {
        padding-left: 3em; }
      .card_second--boxes div span:nth-child(2), .card_second--boxes div span:nth-child(1) {
        font-size: 22px;
        font-weight: bold; }
      .card_second--boxes div span:last-child {
        font-size: 16px;
        color: #7a7a7a; }

.progress_bar {
  background-color: #7a7a7a;
  opacity: .6;
  border-radius: 22px;
  width: 80%;
  height: 10px;
  margin: 0 auto;
  margin-bottom: 3rem;
  position: relative; }
  .progress_bar--blue {
    position: absolute;
    height: 10px;
    background-color: #147b74;
    width: 0%;
    z-index: 1;
    border-radius: 22px; }

.card_third {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  border: 1.5px solid #7a7a7a;
  border-radius: 15px;
  padding: 2rem 0; }
  .card_third--about h3 {
    padding-bottom: 1.5em; }
  .card_third--about p {
    padding-bottom: 1.5em;
    color: #7a7a7a;
    font-size: 16px;
    line-height: 1.4em; }
  .card_third--about.box_unique {
    width: 80%;
    padding: 2em 1em;
    border-radius: 15px;
    margin: 0 auto; }

.box {
  width: 80%;
  padding: 2em 1em;
  border-radius: 15px;
  margin: 0 auto; }
  .box:not(:first-of-type) {
    border: 1.5px solid #7a7a7a; }
  .box h5 {
    float: left;
    font-size: 19px;
    font-weight: 700; }
  .box .float_right {
    float: right;
    color: #3cb4ac;
    font-weight: 500; }
  .box p {
    padding: 2em 0;
    color: #7a7a7a; }
  .box:nth-of-type(3) {
    margin: 2rem auto; }
  .box .left {
    font-size: 13px;
    color: #7a7a7a;
    vertical-align: text-top; }
  .box .num_bold {
    font-size: 22px;
    font-weight: 700; }

.program_first span:nth-of-type(2) {
  vertical-align: bottom; }

.program_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.package.active {
  opacity: .5; }
